*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 18rem;
}

.navbar{
    padding: 20px 0;
    border-bottom: 1px solid #0DCAF0;
}

.nav-link, .navbar-brand, .navbar-toggler-icon{
    color: #0DCAF0;
   
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 500;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid #0DCAF0;
    background-color: none;
    border-radius: 5px;
    margin: 2px;
    margin-right: 12px;
    padding: 10px;

    transition: color 1s, background-color 2s;
}

/* .navbar-toggler{
    background-color: #0DCAF0;
    color: white;
}

.navbar-toggler-icon{
    color: white;
} */

.navbar-brand{
    margin-right: 60px;
}

.navbar-brand, .navbar-nav a{
    text-decoration: none;
}

.navbar-brand:hover{
    color: gray;
    font-size: 2rem
}

.navbar-nav a:hover{
   color: white;
   background-color: #0DCAF0;
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-me, .skills, .edu, .works, .contacts{
    border: 1px solid #0DCAF0;
    border-radius: 5px;
    margin: 10px auto;
    padding: 24px;
    margin: 30px auto;

    box-shadow: 2px 2px 4px #0DCAF0;

}

.about-me{
    /* background-color: #0DCAF0; */
    box-shadow: 2px 2px 4px #0DCAF0;
}

.about-me h3{
    font-size: 3.6rem;
    font-weight: bold;
    color: #0DCAF0;
    
    margin: 18px 0;
}

.about-me p{
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: justify;
    
}

.img-profile img{
    border-radius: 50%;
}

#img-profile{
    border-radius: 50%;
    margin-right: 16px;
    margin-bottom: 6px;
    border: 2px solid white;
    box-shadow: 2px 2px 6px #0DCAF0;
    max-width: 250px;
}


h3{
    font-size: 3.6rem;
    font-weight: bold;
    color: #0DCAF0;
    
    margin-bottom: 18px;
}


.card{
    border-color: #0DCAF0;
    margin-top:10px ;

    /* box-shadow: 1px 1px 2px #0DCAF0; */
}

.card-header{
    font-size: 1.6rem;
    color: white;
    background-color: #0DCAF0;
     
    padding: 12px;
}
.skill-item{
    margin-top: 10px;
    margin-bottom: 12px;
}

.img-label{
    width: 28px;
    height: 28px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.img-label span{
    min-width: 112px;
    /* background-color: red; */
    margin-left: 10px;

    font-size: 1.2rem;
    font-weight: 500;
}


.edu-item .card-body p{
    font-size: 1.1rem;
    font-weight: 500;
}

.edu-item .card-body ul{
    margin-top: 14px;
    font-size: 2rem;
}

#contacts .img-label {
    width: 44px;
    height: 44px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px; 
} 

.info-text{
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 500;
    color: #0DCAF0;
    margin: auto;
}